@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Quicksand:wght@500;700&display=swap");

/* * {
  font-family: "Poppins", sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* font poppins */

@layer base {
  .btn {
    @apply bg-primary px-5 rounded-md py-2 hover:bg-blue-800 text-white text-sm;
  }
  .btn-light {
    @apply bg-primary/0 px-5 rounded-md py-2  border-2 text-primary border-primary text-sm;
  }
  .btn-secondary {
    @apply bg-gray-100 px-5 rounded-md py-2 hover:bg-gray-200 text-black text-sm;
  }
  .active-menu {
    @apply text-primary;
  }
  .table {
    @apply w-full p-5;
  }
  table {
    @apply w-full;
  }
  .table thead {
    @apply bg-white rounded-[8px];
  }
  .table th {
    @apply p-2 text-left text-gray-600 bg-white;
  }
  .table td {
    @apply p-2;
  }
  .ck-editor__editable {
    @apply h-[500px];
  }
  .social-icon {
    @apply p-2 bg-[#EEF1FD] text-primary;
  }
}

/* buat warna saat text yang di blok */
::selection {
  background-color: #3b55c3;
  color: white;
}
